.ReactTable .rt-thead {
    z-index: 1;

}

.custom-radio-group .btn {
  padding: 2px 5px;  /* Adjust padding to make the buttons smaller */
  font-size: 10px;   /* Adjust font size */
  line-height: 1.5;  /* Adjust line height */
}
