.ReactTable .rt-thead {
    z-index: 1;

}

/* Sidebar custom themes */
.custom-accordion-section {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
.custom-accordion-section:hover {
  background-color: grey;
  color: white;
}
.custom-accordion-section.active {
  background-color: blue;
  color: white;
}

.custom-radio-group .btn {
  padding: 2px 5px;  /* Adjust padding to make the buttons smaller */
  font-size: 10px;   /* Adjust font size */
  line-height: 1.5;  /* Adjust line height */
}

.subtitle-card {
  background-color: #e0f7fa; /* Light blue background */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow */
}

.p_sub_small {
 font-size: 10px;
 color: #7f8189;
}

.padding_bottom0 {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .padding_bottom0 {
    max-height: 200px !important;
  }

  #app-stockInfo-stockPlot {
  height: 200px !important;
  }

}

@media (min-width: 768px) {
  .padding_bottom0 {
    max-height: 400px !important;
  }

}

.custom-link {
  display: inline;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.custom-link:hover {
  background-color: inherit;
  color: inherit;
}

.noHover {
  text-decoration: underline;
  font-size: 12px;
  color: #7f8189;
  display: inline;
  padding-left: 0;
}
.noHover:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #7f8189;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.flex-container .shiny-options-group {
  display: flex;
  align-items: center;
}

#app-stockAnalysis-cfRadio .shiny-options-group {
  display: flex !important;
  align-items: flex-end !important;
  padding-top: 13px;
}

