.ReactTable .rt-thead {
    z-index: 1;

}
.irs--shiny  {
      z-index: 1;
}


/* Progess bar notification bug */
div#shiny-notification-panel {
  max-width: 100vw !important;  /* Ensure it does not exceed the viewport width */
  word-wrap: break-word;  /* Wrap long words */
}

/* Sidebar custom themes */
.custom-sidebar {
  max-height: 100vh; /* Prevent overflow by setting max height */
  overflow: hidden !important; /* Hide overflow */
}

.custom-accordion-section {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem ;
  font-weight: 350 ;
  color: black;
  display: block;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.custom-accordion-section:hover {
  background-color: grey;
  color: white;
}

/* Active state */
.custom-accordion-section.active {
  background-color: #f0f0f0;
  font-weight: 600;
  border-left: 4px solid #007bc2;
  cursor: default; /* Change cursor to default when active */
}

/* Disable hover effects when active */
.custom-accordion-section.active:hover {
  background-color: #f0f0f0; /* Ensure background color remains the same */
  color: black; /* Ensure text color remains the same */
}



.custom-radio-group .btn {
  padding: 2px 5px;  /* Adjust padding to make the buttons smaller */
  font-size: 10px;   /* Adjust font size */
  line-height: 1.5;  /* Adjust line height */
}

.subtitle-card {
  background-color: #e0f7fa; /* Light blue background */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow */
}

.p_sub_small {
 font-size: 10px;
 color: #7f8189;
}

.resize_chart {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .resize_chart {
    max-height: 200px !important;
  }

  #app-stockInfo-stockPlot {
  height: 200px !important;
  }
  #app-stockAnalysis-acf_plot {
  height: 200px !important;
  }
  #app-stockAnalysis-pacf_plot {
  height: 200px !important;
  }

  .model-param {
  width: 100% !important;
  }

}

@media (min-width: 768px) {
  .resize_chart {
    max-height: 400px !important;
  }

}

.custom-link {
  display: inline;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.custom-link:hover {
  background-color: inherit;
  color: inherit;
}

.noHover {
  text-decoration: underline;
  font-size: 12px;
  color: #7f8189;
  display: inline;
  padding-left: 0;
}
.noHover:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #7f8189;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.flex-container .shiny-options-group {
  display: flex;
  align-items: center;
}

#app-stockAnalysis-cfRadio .shiny-options-group {
  display: flex !important;
  align-items: flex-end !important;
  padding-top: 13px;
}

/* multi column checkbox */
.multicol {
  height: auto;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2;    /* Firefox */
  column-count: 2;
  -moz-column-fill: auto;
  -column-fill: auto;
}
